.parent {
    display: flexbox;
}

.image {
    height: 170px;
    width: 200px;
    background-size: cover;
    text-align: center;
    color: green;
    font-family: "Gill Sans", sans-serif;
    font-size: 20px;
    padding: 170px 150px;
    border-radius: 10px;
    margin: 15px;
}

#meme {
    background-image: url("https://i.redditmedia.com/Ues90Z-qJA0W2dbkw3mnMTLrwL8t4ykjAo4LycI7umM.jpg?w=320&s=dc1e4257751e80d25bf32b81ad207495");
}

.nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 23%;
    background-image: linear-gradient(green, orange);
    border: 3px solid navy;
}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
